<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dianping">
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <application>

    </application>

</manifest>
